<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% staticfiles 'css/index.css' %}">
    <link rel="stylesheet" href="{% staticfiles 'css/header.css' %}">
    <link rel="stylesheet" href="{% staticfiles 'css/form.css' %}">
    <link rel="stylesheet" href="{% staticfiles 'css/notes.css' %}">
    <script src="{% staticfiles 'main/filter.js' %}" defer></script>
</head>
<body>
    <header>
        <ul>
            <li><a href="/">Расписание</a></li>
            <li>
                <a href="/add">Добавить расписание</a>
            </li>
            <li>
                <a href="/notes">Заметки</a>
            </li>
            <li>
                <a href="/task">Задачи</a>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <div class="user-info">
                        <a href="{% url 'profile'%}"><div class="user-info-avatar" id="avatar"></div></a>
                        <div class="user-info-name" id="name">{{user.get_username}}</div>
                    </div>
                </li>


                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="leave">Выйти</button>
                    </form>
                </li>
            {% else %}
            <li>
                <a href="/login">Авторизация</a>
            </li>
            {%endif%}
        </ul>
    </header>
    {% block content %}
    {%endblock%}
</body>
</html>