{% extends "main/base.html" %}
{% block content %}

{% if form.errors %}
    <p style="color: red; text-align:center">Пароль или почта не совпадает</p>
    
{%endif%}

{% if user.is_authenticated %}
      <p style="color: red; text-align:center">У вас недостаточно прав</p>
    {% else %}
      <p style="color: red; text-align:center">Пожалуста войдите в аккаунт.</p>

  {% endif %}


<div class="form-div">
    <form method="post" action="{% url 'login_view' %}" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Подтвердить</button>
    </form>
</div>
<p class="register-p"><a href="/register">Создать аккаунт</a></p>

{% endblock %}