{% extends 'main/base.html' %}
{%block content %}

    <div class="form-div">
        <form method="post" action="{% url 'add_notes' %}" class="form">
            {% csrf_token %}
            {{ note.as_p }}
            <div>
                <button type="submit">Добавить</button>    
            </div>
        </form>
    </div>
    

<div class="search-field">
    <input type="search" placeholder="Поиск по тэгу" class="search-input">
</div>


<div class="grids">
    {% for info in information %}
        <div class="grid">
            <p>Время: {{info.pub_date}}</p>
            <span >Заметка: {{info.content }}</span>
            <p class="search-span">Тэг: {{info.tag}}</p>

            <form method="post" action="{% url 'del_notes' info.id %}">
                {% csrf_token %}
                <button class="delete-btn"></button>
            </form>
        </div>
    {% endfor %}
</div>    
{%endblock %}